
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: roboto;
  height: 100vh;
}
span {
  font-weight: bold;
}
@keyframes spin3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.spin-container-3d {
  perspective: 1000px;
  display: inline-block;
}

.spin-image {
  width: 30px;
  height: 30px;
  height: auto;
  transform-style: preserve-3d;
  animation: spin3d 1s linear infinite;
  cursor: pointer;
}
@keyframes spin3d-details {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.spin-container-3d-details {
  perspective: 1000px;
  display: inline-block;
}

.spin-image-details {
  width: 240px !important;
  height: 30px;
  height: auto;
  transform-style: preserve-3d;
  animation: spin3d-details 1.5s linear infinite;
  cursor: pointer;
  padding-top: 20px;
  margin-bottom: 20px;
}
.css-mhc70k-MuiGrid-root {
  margin: 0;
  padding: 10px;
  width: 100%;
}
